/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/*    OPDRACHT 2.1    */

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


/*    OPDRACHT 2.2    */

.two {
    display: flex;
    justify-content: space-between;
}

/*    OPDRACHT 2.3    */

.three {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.three ul {
    display: flex;
    list-style: none;
}

ul li {
    flex-basis: 120px;
    flex-grow: 2;
    flex-shrink: 0;
}


/*    OPDRACHT 2.4

.four {
    display: flex;
    justify-content: center;
    background-color: darkslategrey;
}

#username {
    display: flex;
}

#password {
    display: flex;
}
*/

/*    OPDRACHT 2.5    */
